<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>

<% if (loggedin) { %>
<p class="login--info">Innskráður sem: <span class="user"> admin </span></p>
<a class="login--info" href="/admin/logout">Útskrá</a>
<% } %>

<%- include('list') -%>

<%- include('footer') -%>
