<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>

<% if (loggedin) { %>
<p>Innskráður sem: admin</p>
<a href="/admin/logout">Útskrá</a>
<% } %>

<%- include('list') -%>

<%- include('footer') -%>
