<%- include('header') -%>

<h1>Innskráning</h1>

<form method="post" action="/admin/login" enctype="application/x-www-form-urlencoded" autocomplete="off" class="form">

  <div class="field">
    <label for="username">Notandanafn</label>
    <input type="text" name="username" id="username">
  </div>

  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password">
  </div>

  <button>Innskrá</button>

</form>

<a href="/">Til baka</a>

<%- include('footer') -%>
